#feedback-tab {
	left: 0px;
}
#help-tab {
	right: 0px;
-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=1.00000000, M21=-1.00000000, M22=0.00000000,sizingMethod='auto expand')";
filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=1.00000000, M21=-1.00000000, M22=0.00000000,sizingMethod='auto expand');

}

div.olControlZoom a {
    background-color: rgb(0, 109, 184) !important;
}

#basemaps {
    top: 4px;
    right: 18px;
}
#basemaps .btn-group-vertical {
    width: 24px;
}
#basemaps .btn-group-vertical:hover {
    width: 129px;
}
#basemaps a {
    background-color: rgb(0, 109, 184) !important;
}
.SimpleLayerSwitcher {
    top: 9px;
}
.SimpleLayerSwitcher a {
    background-color: rgb(0, 109, 184) !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px !important;
}

#overview-overlay-content .mCSB_scrollTools {
    margin-right: 8px;
}

#overview-overlay-header .btn-mini {
    margin-right: 5px;
}

#designs .btn-primary {
    background-color: rgb(0, 129, 204);
}

#designs .icon-plus-sign {
    padding-right: 3px;
}

#active .btn {
    padding-right: 5px;
}

#active .icon-remove {
    padding-left: 10px;
    padding-right: 5px
}

.learn-page .image:hover .caption span {

	color: white!important;
}


.theme.image .caption span {
	color: #333 !important;
}

.tabs {
	margin-left: 0% !important;
}

.sidebar-nav {
	padding-top: 0px;
}

.sidebar-nav .nav-tabs li {
	padding-top: 10px;
	margin-top: -10px;
}
.sidebar-nav .nav-tabs li {
	margin-top: 0px;
}

.olControlAttribution {
    font-size: 12px !important;
}

#overview-overlay {
	padding: 0px 10px 10px;
}
#overview-overlay .mCSB_dragger_bar {
	margin-left: 6px;
}
#overview-overlay-content, #overview-overlay-close {

}
@media (max-width: 1049px) {
	#map-panel {
		margin-left: 0% !important;
	}
}
