
html {
    overflow-y: scroll;
}
body {
	margin-top: 80px;
}

h1, h2, h3, h4 {
	font-weight: normal;
	color: #2d8998;
	line-height: 1;

}

h2 {
	font-size: 28px;
	margin-bottom: 10px;

}

header h2 {
	margin-bottom: 5px;
}
hr {
	border-top: 1px solid #ccc;
}
p {
	padding-left: 5px;
}
a:focus {
    outline: none;
}
li a {
    cursor: pointer;
    cursor: hand;
}

#fullscreen {
	display: none;
}

#loading {
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	background:url(../img/ajax-loader.gif) no-repeat center center;
}
.jspHorizontalBar { 
    display: none !important; 
}
.jspVerticalBar {
	width: 10px !important;
}
.jspTrack {
	background: none repeat scroll 0 0 #DDDDDD!important;
	width: 10px !important;
}
.jspDrag {
	border-radius: 20px;
	background: none repeat scroll 0 0 #BBB !important;
	width: 10px !important;
	top: 2px;

}
#data-accordion .jspContainer, .jspPane, .jspScrollable {
	background: white!important;
}

.navbar {
	border-bottom: 1px solid #ccc;
	height: auto;
        background-color: white;
}
.navbar .navbar-inner {
	border: none !important;
	background-color: white !important;
	background-image: none !important;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
	filter: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.navbar .dropdown-menu {
    min-width: 120px;
    margin-top: 0px;
}

.navbar .nav > li > a {
	text-transform: uppercase;
	width: 80px;
	height: 25px;
	text-align: center;
	background-color: white;
	padding-top: 20px;
	font-size: 12px;
	border-left: 1px solid #ccc;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
.navbar .nav > li:hover > a, .navbar .nav > li.active > a, .navbar .nav > li:hover > a:visited {
	height: 41px;
	background-color: #eee !important;
	color: #333;
	border-bottom: 4px solid #2d8998;
	margin-bottom: -4px;

}
.navbar .nav > li:hover > a , .navbar .nav > li.active > a {
	background-color: #eee !important;
	color: #333;
}
.navbar .nav > li:last-child {
	border-right: 1px solid #ccc;

}
.navbar .nav > li > a {
    line-height: 12px;
    color: #333;
}	
.navbar form {
	margin-top: 26px;
}

.navbar img {
	margin-top: 5px;
	margin-left: 0px;
    height: 50px;
}

.blog .navbar img {
    height: 77px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
	background-color: white;
	color: #ccc;
}


.frame {
	border: 1px solid #ccc;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

}
.sidebar-nav .nav-tabs li.active:first-child > a, .sidebar-nav .nav-tabs li:first-child:hover > a {
	border-top-left-radius: 10px;
	/*background-color: white;*/
}


.form-search .btn {
	padding: 4px 0px;
	background-color: #ddd;
	background-image: none;
	color: #777;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: -7px;
	radius: 30px;
	width: 30px;
	 border-radius: 30px;
	 -moz-border-radius: 30px;
  	-webkit-border-radius: 30px;
  	border-top-left-radius: 0px;
  	border-bottom-left-radius: 0px;
  	-moz-border-top-left-radius: 0px;
  	-moz-border-bottom-left-radius: 0px;
  	-webkit-border-top-left-radius: 0px;
  	-webkit-border-bottom-left-radius: 0px;
}

.form-search input, .form-search input:focus{
	width: 70%;
	background-color: #eee;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

.form-search .btn i {
	margin-left: -3px;
}

#feedback-tab {
	position: fixed;
    z-index: 950;
	left: -26px;
	top: 80%;
	padding: 2px 8px;
	border: 2px solid #ccc;
	background: #2d8998; /* fallback for IE - IE6 requires background shorthand*/
	background: rgba(45,137,152, 1);

	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-transform: rotate(90deg);	
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
#feedback-tab a {
	color: white;
}
#feedback-tab a:hover {
    text-decoration: none;
}
#pageGuideToggle {
    top: -999px !important;
}
.pageguide-step {
    z-index: 1035 !important;
}
.pageguide-content {
    margin-top: 5px !important;
}
#help-tab {
	position: fixed;
    z-index: 950;
	right: -10px;
	top: 80%;
	padding: 2px 8px;
	border: 2px solid #ccc;
	background: #2d8998; /* fallback for IE - IE6 requires background shorthand*/
	background: rgba(45,137,152, 1);

	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-transform: rotate(-90deg);	
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);

}
#help-tab a {
	color: white;
}
#help-tab a:hover {
    text-decoration: none;
}

#sharing-groups i.check {
    position: relative;
    top: 0px;
}

#bookmark-sharing-groups i.check {
    position: relative;
    top: 0px;
}

input + i.icon-remove-sign {
	margin-left: -25px;
	margin-right: 4px;
	padding-right: 5px;
	margin-top: 4px;
	opacity: .5;
	filter: alpha(opacity=50);
}
#sidebar-nav {
	position: fixed;
	top: 100px;
	width: 186px;


}
.sidebar h3 {
	margin-bottom: 0px;
	font-size: 18px;
	padding: 5px;
	font-weight: bold;
	line-height: 1;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;


}
.sidebar .active {
	border-left: 2px solid #2d8998;
	pointer-events: none;
   	cursor: default;

}
.sidebar .active a {
	margin-left: 0px;
	padding-left: 3px;
	font-weight: bold;
}
.sidebar .active h3 {
	padding-left: 2px;
}
.sidebar li a {
	margin-left: 5px;
}
.sidebar .active {
	border-left: 2px solid #2d8998;
}

.sidebar .feature-story {
	margin-top: 20px;
}
.sidebar img {
	width: 100%;
	max-width: 180px;
}
.sidebar .feature-story a{
	color: #2d8998;
}

.sidebar .feature-story p {
	margin-bottom: 0px;
}

.sidebar .factsheet img {
	border: 1px solid #ccc;
}

.sidebar .factsheet a {
	margin-top: 5px;
	margin-right: 5px;
	color: #2d8998;
}

#fullscreen {
	background-color: white;
}

#data .form-search {
	padding: 0px 0px 20px 10px;
	margin-left: 20px;
	margin-top: -5px;
}

#data .form-search .btn, .search-row .form-search .btn {
	margin-left: -8px;
	margin-top: 0px;
}

#designs {
    padding: 0 10px;
}

#designs .btn-layer .icon-info-sign {
    /*margin-left: -15px;*/
}

#wind-design-form {
    width: 99% !important;
    padding: 5px 0px 5px 0px !important;
}
#wind-design-form .jspContainer {
    width: 98% !important;
    height: 100% !important;
}
#wind-design-form .jspPane {
    border-radius: 10px;
}

#reports {
    padding: 0 10px;
}


.showcase {
	position: relative;
}
.showcase img {
	margin-left: 0px;
	margin-bottom: 10px;
}
.showcase .caption {
	/*background-color: rgb(45, 137,152);*/
	/* RGBa with 0.6 opacity */
	background-color: rgba(45, 137, 152, 0.65);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";
	position: absolute;
	width: 260px;
	font-size: 20px;
	line-height: 1;
	color: white;
	top: 250px;
	left: 0;
	padding: 10px 15px 3px 30px;
}
.showcase h2 {
	color: white;
	font-size: 20px;
	line-height: 1;
	margin-bottom: 5px;
	font-weight: normal;
}
.showcase p {
	font-size: 14px;

}
.showcase a {
	color: white;
}

.theme .attrib {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	behavior: url(/portal/assets/PIE.htc);

	border-radius: 5px;
	color: white;
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 5px;
	/* RGBa with 0.6 opacity */
	background-color: rgba(45, 137, 152, 0.65);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";
}
.theme .attrib .text {
	behavior: url(/portal/assets/PIE.htc);
	position: absolute;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display:none;
	position: absolute;
	padding: 10px;
	width: 175px;
	/* RGBa with 0.6 opacity */
	background-color: rgba(45, 137, 152, 0.65);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";	
}

.bugs {
	margin-top: 10px;
	text-align: center;

}
.bugs h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	color: #2d8998;
}
.bugs p {
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	line-height: 1.25;
	width: 80%;
}
.bugs .wrapper {
	padding: 40px 0px;
	border: 1px solid #ccc;
	margin: -1px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

}
.bugs .wrapper:hover,
.bugs .wrapper:hover h3 {
	background-color: #2d8998;
	color: white;
}

.bugs a:link, .bugs a:visited, .bugs a:hover  {
	color: #333;
	text-decoration: none;
}


.wrapper .icon {
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper #learn-img {
    background-image: url('../img/learn.png');
}
.wrapper #explore-img {
    background-image: url('../img/explore.png');
}
.wrapper #visualize-img {
    background-image: url('../img/visualize.png');
}

.wrapper:hover #learn-img {
    background-image: url('../img/learn_rollover.png');

}

.wrapper:hover #explore-img {
    background-image: url('../img/explore_rollover.png');

}
.wrapper:hover #visualize-img {
    background-image: url('../img/visualize_rollover.png');

}

.social h5 {
	font-weight: normal;
	text-transform: uppercase;
}

/*.sidebar {
	margin-top: 15px;
}
*/
.sidebar ul {
	list-style: none;
	margin-left: 0;
}
.sidebar h3 {
	font-size: 18px;
	font-weight: normal;
}
.sidebar h3 a, .sidebar h3 a:visited {
	color: #2d8998;
}
.sidebar a {
	color: #333;

}

.sidebar-nav .nav-tabs a {
	border-radius: 0px;
	margin-top: -10px;
	text-transform: uppercase;
	font-size: 14px;
	border-right: 1px solid #ccc;
	margin-bottom: 0px;
	margin-left: -2px;
	font-size: 16px;
	color: #888;
}


.sidebar-nav .nav-tabs li.active a, 
.sidebar-nav .nav-tabs li:hover a {
	border: 1px solid #ccc;
	border-bottom: 2px solid #2d8998;
	color: #222;
}	

.sidebar-nav li a .badge {
	padding-top: 5px;
	margin-top: -2px;
}

#sidebar-nav img {
	max-height: 220px;
}

img + h3 {
	margin-top: 10px;
}

.accordion-group {
	margin-bottom: 0px;
}

.accordion-heading {
/*	text-transform: uppercase;
*/	font-size: 16px;

}
.accordion-heading.active, .active .accordion-body {

	margin-left: -1px;
	font-weight: bold;
	background-color: #eee;
	color: #333;

}
.active .accordion-body {
	border-left: 3px solid #2d8998;
}
#data,
#data .tab-content,
#data .row-fluid,
#data .row-fluid .span12,
.sidebar-nav,
.sidebar-nav .accordion,
.sidebar-nav .accordion-heading
.sidebar-nav .accordion-body,
.sidebar-nav .accordion-inner {
	position: relative;
}

.tab-content,
.tab-pane,
.panel-container,
.form-container,
.panel {
	height: 100%;
}

.sidebar-nav .collapse {
	display: none;
}

.sidebar-nav .collapse.in {
	display: block;
}

.sidebar-nav .btn i, #active .btn i {
	font-size: 13px;
}
.sidebar-nav .btn-group-layer {
    width: 100%;
}
.sidebar-nav .btn-group-layer .btn-layer  {
    width: 80%;
    text-align: left;
    overflow: hidden;
    border-left: 0px;
}
.sidebar-nav .btn-group-layer .btn-layer div {
	width: 96%;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: -10px;
}

.sidebar-nav ul.list {
	padding: 10px 10px 10px 10px;
}

#designs ul.list {
	padding: 10px 0px 10px 0px;
}

#design-list .btn-layer > div {
	display: inline-block;
	line-height: 1;
	padding-left: 3px;
	margin-top: 0;
	overflow: hidden;
	text-overflow: ellipsis;
    /*width: auto;*/
	max-width: 83%;
	/*height: inherit;*/
    height: 16px;
    vertical-align: middle;
}

#active ul li {
	margin-bottom: 10px;
}
#active .btn {
	padding-left: 0px;
}
#active .btn-info-sign {
    padding: 4px 8px;
}
#active .opacity-button {
    padding: 4px 9px;
}
#active .btn:last-child {
	/*padding-left: 5px;
	padding-right: 5px;*/
    padding: 4px 9px;
}
#active .btn-group {
	width: 90%;
}
#active .btn-group .btn-layer {
	text-align: left;
	width: 70%;

}

#active .btn-layer > div {
	display: inline-block;
	line-height: 1;
	padding-left: 8px;
	margin-top: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	width: auto;
    max-width: 72%;
	/*height: inherit;*/
    height: 16px;
    vertical-align: middle;
}

#data-accordion li.layer {
	margin-bottom: 10px;
}

.layer .btn-info-sign {
    padding: 4px 8px;
}

.theme .theme-context {
	margin-bottom: 20px;
}


.theme li {
	display: inline;
	padding-left: 10px;
}

.theme p {
	padding-right: 5px;
}

.layer .overview {
	margin-bottom: 10px;
}

.link-not-available {
	color: #aaa;
}

.image {
	position: relative;
}

.image img {
	border-radius: 5px;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
}

.image .caption {
	position: absolute;
	text-transform: uppercase;
	width: 80%;
	font-size: 36px;
	font-weight: bold;
	line-height: .75;
	color: white;
	bottom: -3px;
	left: 20px;
	opacity: .7;

	filter: alpha(opacity=70);
}

.theme.image .caption {
	font-size: 56px;
}

.theme .btn img {
	height: 18px;
}

.catalog-page {
    padding-bottom: 10px;
    padding-top: 10px;
}

.catalog-page .image:hover .caption {
    opacity: 1;

    filter: alpha(opacity=100);
}

/*.layer-popover .layer-tooltip {
  width: 380px;
}
*/
#legend-wrapper {
  border: 1px solid #ccc;
  border-radius: 10px;
  max-height: 80%;
  overflow-y: hidden;
  padding: 0px 10px 20px;
}

.legend-title {
	font-weight: bold;
}

#legend-wrapper hr {
  margin: 0px !important;
  /*margin-bottom: 5px;*/
}

#legend-content {
  height: 94%;
}

/* Rules for the layer switcher */

#map-wrapper {
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid #ccc;
}
#map {
	border-radius: 10px;
	overflow: hidden;
}

#map.zoomBox { 
	cursor: url(../ico/magnify.cur), pointer;
	cursor: -moz-zoom-in, pointer; 
}

#basemaps, #right-btns {
  position: absolute;
  z-index: 1020;
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
}

#basemaps {
	top: 8px;
	right: 8px;
}

#right-btns {
	top: 60px;
  	left: 4px;
}

#basemaps a, #right-btns a {
    padding: 1px;
    color: white;
    text-decoration: none;
    outline: none;
    overflow: hidden;
    width: 25px;
    line-height: 22px;
    background: #130085; /* fallback for IE - IE6 requires background shorthand*/
    background: rgba(0, 60, 136, 0.5);
    opacity: .8;
    filter: alpha(opacity=80);
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;

}

#basemaps a {
	text-align: left;
    padding-left: 10px;
 	
}
#right-btns a {
	text-align: right;
	padding-right: 10px;
}

#basemaps span, #right-btns span {
	opacity: 0;
	filter: alpha(opacity=0);
	font-size: 12px;
	-webkit-transition: opacity .3s ease-in-in-out;
    -moz-transition: opacity .3s ease-in-in-out;
    -o-transition: opacity .3s ease-in-in-out;
    transition: opacity .3s ease-in-out;
   
}

#basemaps span {
		visibility: hidden;
		width: 100%;


}

#right-btns span {
	visibility: hidden;
	/*width: 0px;*/
}
/*
#right-btns i.icon-zoom-in {
	margin-left: -50px;
}*/
#right-btns i.icon-zoom-in {
	margin-left: -63px;
}

#right-btns i.icon-layers {
	margin-left: -57px;
}

#right-btns i.icon-zoom-out {
	margin-left: -75px;
}

#basemaps:hover a,
#basemaps.open a {
    width: 125px;	
}
#basemaps .btn i {
    display: inline-block;
}
#right-btns:hover a,
#right-btns.open {
    width: 120px;
	
}
#basemaps:hover span ,
#basemaps.open span {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);
}

#right-btns:hover span,
#right-btns.open span  {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);
}

#right-btns:hover i,
#right-btns.open i {
	margin-left: 0px;
}
#basemaps a:hover,
#right-btns a:hover,
#right-btns a.active {
    background: #130085; /* fallback for IE */
    background: rgba(0, 60, 136, 0.7);
    filter: alpha(opacity=100);
}

#basemaps .btn i {
    width: 20px;
}

#map.zoomBox .olHandlerBoxZoomBox {
	border: 2px solid #2d8998;
}
.SimpleLayerSwitcher {
  position:absolute;
  top:12px;
  right:150px;
  background-color:whiteSmoke;
  border:1px solid #ccc;
  border-radius:4px;
  max-width:150px;
  text-align: left;
  background: #130085; /* fallback for IE - IE6 requires background shorthand*/
  background: rgba(0, 60, 136, 0.5);
  opacity: .8;
  border-radius: 4px;
  display: none;
  overflow: hidden;
}

.SimpleLayerSwitcher a.basey {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  display:block;
  text-decoration:none;
  color:white;
  padding:5px 5px 5px 5px;
  padding-left: 10px;
  font-size: 14px;
  background: #130085; /* fallback for IE - IE6 requires background shorthand*/
  background: rgba(0, 60, 136, 0.5);
  opacity: .8;
  filter: alpha(opacity=80);

}

.SimpleLayerSwitcher a.basey-on {
	font-weight: bold;
	opacity: 1;
	filter: alpha(opacity=100);
  
}

.SimpleLayerSwitcher a {
  /*border-top:1px solid #eee;*/
}

.SimpleLayerSwitcher a:hover {
	opacity: 1;
/*  color:#000;
  background-color:#eeeeee;
*/}

.SimpleLayerSwitcher a.basey-off {
  display:block;
}

.popover .radio input {
	width: 94%;
}

.disabled {
	color: #777 !important;
}

#printing-popover .radio input {
	width: 20%;
}
#printing-popover .ui-spinner {
	width: 55%;
}


#printing-popover {
	max-width: 460px;
}
#printing-popover .arrow {
	display: none;
}

#printing-popover .alert {
	margin-bottom: 10px;
}

#printing-popover .print-title {
	width: 418px;
}

#printing-popover .well {
	padding-top: 5px;
	height: 210px;
}
#printing-popover .well strong {
	margin-left: -8px;
}

#printing-popover .checkbox {
	margin-left: 9px;
}
#print-modal .modal-header {
	border-bottom: 0px;
}
#print-modal .loading span {
	margin-left: 10px;
}
#print-modal .modal-body {
	overflow: hidden;
}
#print-modal img.thumb {
	display: block;
	margin: auto;
	width: 100%;
}

body.print .tabs,
body.print .user-btn,
body.print #feedback-tab,
body.print #help-tab,
body.print #basemaps,
body.print .olControlZoom
 {
	display: none;
}

/*body.print .navbar {
	border-bottom: 0px;
}
*/
/*body.print #legend-wrapper {
	max-width: 250px;
}
*/
body.print #legend-wrapper, body.print #map-wrapper, body.print #map {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;

}

body.print #map-panel {
	margin-left: 0px;
}
body.print #legend {
    margin-left: 1%;
}

body.borderless {
	margin-top: 0px;
}
body.borderless #primary-content {
	padding-left: 0px;
}

body.borderless hr,
body.borderless .navbar,
body.borderless .timestamp  {
	display: none;
}

body.borderless #map-wrapper {
	border: 0px;
}

.split-column {
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;
}


.video-button a {
    cursor: pointer;
    /*text-decoration: none;*/
}

#video-modal {
    float: none;
    clear: both;
    width: 50%;
    left: 40%;
    /*position: relative;*/
    padding-bottom: 56.25px;
    padding-top: 5px;
    height: 0;
}
#video-modal .modal-body {
    min-height: 400px;
}
#video-modal iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 767px) {
	.navbar .nav > li > a {
		width: 70px;
	}
    .navbar-fixed-top {
        position: fixed;
    }
    .navbar-inner {
        padding: 0px 20px !important;
    }
    .btn-navbar {
        margin-top: -40px !important;
    }
	.nav-collapse form {
		width: 100%;
	}
	.nav-collapse form input {
		width: auto;
		margin-left: 10px;
	}
	body {
		margin-top: 80px;
	}
    #data-panel {
        width: 100%;
    }
    #map-panel {
        width: 100%;
        margin: 10px 0px; 
    }
    #content {
        margin-top: 120px;
    }
	#sidebar-nav {
		position: relative;
		top: 10px;
	}
	.nav-collapse {
		width: 100%;
	}
	.nav-collapse .nav {
		float: left;
	}
	.nav-collapse .nav > li {
		float: left;
	}
	.showcase {
		margin-top: 10px;
	}
	h3 {
		font-size: 18px !important;
	}
	.theme li {
		padding-left: 0px;
	}
	#data-accordion .btn-group-layer .btn-layer {
	  width: 72%;
	  font-size: 14px;
	}
    .split-column {
        -moz-column-count: 1; /* Firefox */
        -webkit-column-count: 1; /* Safari and Chrome */
        column-count: 1;
    }

}


@media (min-width: 768px) and (max-width: 979px) {
	body {
		margin-top: 80px;
	}

    .blog .navbar-fixed-top {
        position: fixed;
    }
    
    .navbar-inner {
        padding: 0px 20px !important;
    }

	.nav-collapse {
		width: 100%;
		margin-bottom: 5px;
	}

	.nav-collapse .nav {
		float: left;
	}
	.nav-collapse .nav > li {
		float: left;
	}
	.navbar form {
		margin-right: 10px;
	}
	.showcase {
		margin-top: 5px;
	}
	.showcase .caption {
		top: 100px;
	}
	#active .btn-group .btn-layer {
		width: 65%;
		font-size: 14px;
	}
	.form-search input {
		width: 55%;
		margin-left: -18px;
	}
	#data-accordion .btn-group-layer .btn-layer {
	  width: 68%;
	  font-size: 14px;
	}

}

@media (max-width: 359px) {
	.nav-collapse .nav > li {
		width: 88px !important;
	}
	.navbar .nav > li > a {
		width: 60px !important;
		font-size: 10px;
	}
	.navbar img {
		width: 80%;
	}
	.nav-collapse .nav > li {
		width: 98px;
	}
	.navbar .nav > li > a {
		width: auto;
	}

}


@media (max-height: 740px) {
	#sidebar-nav {
		position: relative;
		top: -15px!important;
	}

}