/*body {
  padding-bottom: 40px;
}*/
.sidebar-nav {
  padding: 9px 0;
}

#map {
  height: 800px;
  margin-bottom: 15px;
}

#map-wrapper {
  position: relative;
}

#map-buttons {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 1020;
}
#map-buttons button {
  width: 150px;
}

#attribute-data {
  position: absolute;
  /*top: 25%;*/
  top: 180px;
  right: 0;
  z-index: 950; 
  width: 250px;
  font-size: 16px;
  color: white;
  
}
#attribute-data > div {
  padding: 10px;
  border-radius: 4px;
/*  background-color: rgb(60, 110, 160);
*/  /* RGBa with 0.6 opacity */
  background-color: rgba(60, 110, 160, 0.65);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";
}

#aggregated-attribute-overlay {
  position: absolute;
  /*top: 25%;*/
  top: 180px;
  left: 10px;
  z-index: 950; 
  width: 280px;
  max-height: 250px;
  font-size: 14px;
  color: white;  
}

#aggregated-attribute-overlay .accordion-group {
  border: 0px;
}

#aggregated-attribute-overlay .accordion-heading {
  font-size: 14px;
}

#aggregated-attribute-overlay .accordion-toggle {
  padding: 0px;
  text-decoration: none;
}

#aggregated-attribute-overlay .accordion-inner {
  padding: 0px;
  border-top: 0px;
  background-color: rgba(60, 110, 160, 0);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#002d8998, endColorstr=#002d8998);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#002d8998, endColorstr=#002d8998)";
}

#aggregated-attribute-content {
  max-height: 250px;
  padding-bottom: 0px;
}

#aggregated-attribute-content .mCSB_container {
  padding-left: 10px; 
  margin-right: 5px;
  overflow: hidden;
}

#aggregated-attribute-content .mCSB_scrollTools {
  padding-top: 30px;
  height: 85%;
  right: -4px;
}

#aggregated-attribute-content .mCustomScrollBox {
  max-height: 250px;
  margin-right: -20px;
  left: -5px;
}

#aggregated-attribute-content .mCSB_dragger_bar {
  width: 6px;
}

#aggregated-attribute-overlay > span {
  margin-right: 10px;
  margin-top: 10px;
}

#aggregated-attribute-overlay h4 {
  color: white !important;
  margin-bottom: 2px !important;
}

#aggregated-attribute-overlay dl {
  margin-top: 0px !important;
  margin-left: 5px;
  margin-bottom: 0px;
}

#aggregated-attribute-overlay dt {
  font-weight: normal;
}

#aggregated-attribute-overlay > div {
  padding: 10px;
  border-radius: 4px;
/*  background-color: rgb(60, 110, 160);
*/  /* RGBa with 0.6 opacity */
  background-color: rgba(60, 110, 160, 0.65);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";
}

#bookmarks-table {
  height: 150px;
  overflow: hidden;
  outline: none;
}

#opacity-popover .controls {
  width: 100%;
  height: 40px;
}

#opacity-popover .btn {
  margin-top: 5px;
  margin-bottom: 10px;
}

#map-info {
  margin-top: 10px !important;
}
#pos {
  position: absolute;
  background: white;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  display: none;
  z-index: 1000;
}

#map .olControlAttribution {
  bottom: 0px;
  left: 3px;
  color: #555555 !important;
}
#map .olControlScaleBarNumbersBox {
    height: 14px;
}

#legend-accordion .accordion-toggle {
    font-size: 12px;
}

#legend-header {
  margin-bottom:10px; 
  padding-top: 8px; 
  border-bottom: 2px solid #2D8998; 
  padding-bottom: 6px; 
  line-height: 20px;
  font-size: 16px;
}

i.check {
  position: absolute;
  right: 5px;
  top: 10px;
}

/* the following overrides a 20px margin that was behaving intermittently in conjunction with the hovering of icon-check-empty */
.accordion {
  margin-bottom: 0px !important;
}

.btn-layer.not-active:hover i.icon-check-empty {
  display: block !important;
  opacity: .4;
  /* for IE */
  filter: alpha(opacity=40);
}

.attribution {
  font-size: 10px;
}
.theme-buttons {
  margin-bottom: 15px;
}

img.olTileImage {
    max-width: 256px !important;
}

div.olLayerGoogleCopyright,
div.olLayerGooglePoweredBy
{
  display: none !important;
}
.sidebar-nav {
  height: 600px;
}

.tab-content {
  overflow: visible;
}
.in {
  overflow: visible;
}

.layer-buttons {
  position: relative;
}
.layer-menu {
  position: absolute;
}
.layer-menu:focus {
  outline: none;
}
.layer-menu li a {
  color: #333;
  display: block;
  font-weight: normal;
  padding: 3px 0px;
  margin-left: 5px;
}
.layer-menu li a:hover, .layer-menu li a:focus {
  text-decoration: none;
  background-color: #0081c2;
  color: white;
}

#sublayers-template .layer-menu li a:hover, .layer-menu li a:focus {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.247059);
  color: rgb(51, 51, 51);
  background-image: none;
}

.dropdown-menu: {
  z-index: 1100 !important;
}

.btn .badge {
  margin-top: -5px !important;
}

.alert {
  margin-bottom: 0px;
}

.olImageLoadError { 
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
    background-color: transparent; 
}


// hide some stuff when using sortable
// so the controls don't show

.ui-sortable-helper .btn {
  display: none;
}


a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover {
    color:#aaa !important;
}

/*body {
  padding-bottom: 20px;
}*/

.sidebar-nav {
  padding: 9px 0;
}
#map {
  height: 800px;
  margin-bottom: 15px;
 
}

#map-wrapper {
  position: relative;
/* -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
*/
}

/* shifts the map left when hiding the layers panel */
.shift-left {
  margin-left: 0px !important;
}

.fullscreen-map {
  margin-left: 0px !important;
  width: 100% !important;
}
.fullscreen-with-layers {
  margin-left: 0px !important;
  /*width: 68.3% !important;*/
  width: 75% !important;
}
.fullscreen-with-layers-authenticated {
  margin-left: 0px !important;
  /*width: 68.3% !important;*/
  width: 65% !important;
}
.fullscreen-with-legend {
  margin-left: 0px !important;
  width: 80% !important;
}
.fullscreen-with-legend-and-layers {
  margin-left: 0px !important;
  width: 55% !important;
}
.fullscreen-data {
  margin-left: 0px !important;
  width: 25% !important;
}
.fullscreen-data-authenticated {
  margin-left: 0px !important;
  width: 35% !important;
}
.fullscreen-legend {
  margin-left: 0px !important;
  width: 20% !important;
}

#map-buttons {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 1020;
}
#map-buttons button {
  width: 150px;
}

#description-overlay {
  position: absolute;
  /*border-radius: 4px; can't tell if I want this or not...*/
  bottom: 0;
  z-index: 950; 
  width: 100%;
  font-size: 12px;
  /* RGBa with 0.6 opacity */
  background-color: rgba(60, 110, 160, 0.65);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";
}

#description-overlay > div{
  padding: 10px;
  color: white;
}

#description-overlay a{
  /*margin-left: 10px;*/
}

#description-overlay .title {
  font-size: 16px;
  font-weight: bold;
}

#description-overlay .text {
  font-size: 16px;
}

#overview-overlay {
  position: absolute;
  /*border-radius: 4px; can't tell if I want this or not...*/
  bottom: 0;
  z-index: 950; 
  min-width: 100%;
  max-height: 60%;
  /*overflow-x: hidden;
  overflow-y: auto;*/
  /*overflow: auto;*/
  font-size: 12px;
  /* RGBa with 0.6 opacity */
  background-color: rgba(60, 110, 160, 0.65);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";
}

#overview-overlay-header {
  margin-bottom: 10px;
}

#overview-overlay-header .dropdown-menu {
  margin-top: 0px;
  background-color: rgba(60, 110, 160, 0.65);
}

#overview-overlay-header .dropdown-menu > li {
}

#overview-overlay-header .caret {
  /*border-top: 4px solid white;*/
  margin-left: 5px;
  margin-top: 8px;
}
#overview-overlay-header a .dropdown-toggle {
  background-color: rgba(60, 110, 160, 0.65);
  /*color: white;
  text-decoration: none;*/ /*these two lines caused problems with the close 'x' button*/
}

#overview-overlay-header a:hover {
  text-decoration: none;
}

#overview-overlay-header .dropdown-toggle {
  color: white;
  background-color: rgba(60, 110, 160, .2);
  background-image: none;
  font-size: 16px;
  font-weight: bold;
  text-shadow: none;
}

#overview-overlay-dropdown {
  background-color: rgba(60, 110, 160, .9) !important;
  height: 100px;
  width: 100%;
  overflow: auto;
}

#overview-overlay-dropdown a {
  color: white;
  width: 80%;
  display: block;
  padding: 3px 15px;
}
#overview-overlay-dropdown a:hover, #overview-overlay-dropdown a:focus {
  text-decoration: none;
  background-color: #0081c2;
}

#overview-overlay-dropdown .mCSB_container {
  margin-right: 0px;
}

#overview-overlay-content {
  padding: 10px;
  padding-bottom: 5px;
  color: white;
}

#overview-overlay-content .mCustomScrollBox {
  /*padding-bottom: 5px;  
  height: 105% !important;*/
}

#overview-overlay-text {
  height: 100px;
  width: 100%;
  overflow: hidden;
}

#overview-overlay-text .mCSB_container {
  padding: 5px 10px 15px;  
  margin-right: 25px;
  background-color: rgba(60, 110, 160, 0.25098);
}

#overview-overlay-text .mCSB_scrollTools {
  height: 95%;
}

#overview-overlay-text .mCSB_dragger_bar {
  width: 6px;
}

#overview-overlay .title {
  font-size: 16px;
  font-weight: bold;
}

#overview-overlay .text {
  font-size: 15px;
}

#overview-overlay .notes {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#overview-overlay-links {
  margin-top: 10px;
}

#overview-dropdown-button {
    min-width: 250px;
    text-align: left;
}

#overview-dropdown-button .caret {
  border-top: 4px solid white; 
}

#fullscreen-error-overlay {
  position: absolute;
  top: 0;
  z-index: 950; 
  width: 70%;
  margin-left: 15%;
  font-size: 16px;
  color: white;
}

#error-overlay {
  position: absolute;
  top: 0;
  z-index: 950; 
  width: 70%;
  margin-left: 15%;
  font-size: 16px;
  color: white;
}

#error-overlay > div,
#fullscreen-error-overlay > div {
  padding: 10px;
  border-radius: 4px;
/*  background-color: rgb(60, 110, 160);
*/  /* RGBa with 0.6 opacity */
  background-color: rgba(60, 110, 160, 0.65);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";
}
#bookmarks-table {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: visible;
}

#opacity-popover {
  left: 251px;
  width: 230px;
}

#opacity-popover .controls {
  width: 100%;
  height: 40px;
}

#opacity-popover .btn {
  margin-top: 5px;
  margin-bottom: 10px;
}

#map-info {
  margin-top: 10px !important;
}
#pos {
  position: absolute;
  background: white;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  display: none;
  z-index: 1000;
}

/*#data-accordion .accordion-group {
  overflow: visible;
}*/

#data-accordion .dropdown-menu {
  right: 26px;
  max-height: 115px;
  overflow-y: auto;
}

#designs-accordion  ul.unstyled {
  margin-bottom: 0px; 
  padding-bottom: 0px;
}

#data-accordion, #designs-accordion, #sharing-groups, #bookmark-sharing-groups{
    outline: none;
}

#data-accordion, #legend-accordion, #designs-accordion{
  height: 100%;
  overflow-y: auto;
}


/*#data-accordion .accordion {
  overflow-x: visible;
}
*/
#myTabContent .accordion-inner {
  /*overflow: visible;*/
  background: white;
}

#legend-accordion .accordion-toggle {
    font-size: 12px;
}

#data-accordion .icon-info-sign {
  /*margin-left: -15px;*/
}

#data-accordion .dropdown-menu {
  right: 0px;
  margin-top: 0px;
}

#designs .icon-info-sign {
  /*margin-left: -15px;*/
}

#designs li.layer {
  margin-bottom: 10px;
}

#create-new-button {
  background: rgba(45, 137, 152, .9);
}

#view-reports-button {
  border-radius: 4px;
}

#comparison-reports-button {
  background: rgba(45, 137, 152, .9);
}

#create-new-design .dropdown-menu {
  margin-top: -10px;
}

#create-new-design .dropdown-submenu .dropdown-menu {
  top: 4px;
  border-radius: 4px;
  left: 183px;
}

#design-list .btn-layer {
  text-align: left;
  width: 70%;
}

#design-list .dropdown-toggle {
  border-left: 0px;
}

#design-list .dropdown-menu {
  min-width: 75px;
  left: 70%;
  top: 90%;
}

#bar-chart-button {
  opacity: .8;
  /* for IE */
  filter: alpha(opacity=80);
}
#bar-chart-button:hover  {
  display: block !important;
  opacity: .99;
  /* for IE */
  filter: alpha(opacity=99);
}



#design-list .reports-btn {
  margin-top: -37px;
  padding-top: 11px !important;
  padding-right: 14px !important;
  padding-bottom: 10px !important;
  padding-left: 14px !important;
}

#designs .step ul {
  margin-left: 10px;
}

#designs #step1 .slidervalue {
  width: 30px;
  font-weight: bold;
  font-size: 16px;
  height: 16px;
}

#designs #step2 .slidervalue {
  width: 30px;
  font-weight: bold;
  font-size: 16px;
  height: 16px;
}

#designs #step3 .step3-param {
  margin-left: 5px;
}

#designs .inputfield {
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 20px;
}

#designs #wea_widget ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

#designs-slide {
  height: 100%;
}

.attribution {
  font-size: 10px;
}
.theme-buttons {
  margin-bottom: 15px;
}

img.olTileImage {
    max-width: 256px !important;
}

div.olLayerGoogleCopyright,
div.olLayerGooglePoweredBy
{
  display: none !important;
}
.sidebar-nav {
  height: 600px;
}

.tab-content {
  overflow: visible;
}
.in {
  overflow: visible;
}

.layer-buttons {
  position: relative;
}

.dropdown-menu: {
  z-index: 1100 !important;
}

.btn .badge {
  margin-top: -5px !important;
}

.alert {
  margin-bottom: 0px;
}

.olImageLoadError { 
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
}


// hide some stuff when using sortable
// so the controls don't show

.ui-sortable-helper .btn {
  display: none;
}


a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover {
    color:#aaa !important;
}


.btn.tweet-trash {
    height: 20px;
    font-size: 16px;
}

.btn.tweet-trash i {
  margin-top: 3px;
  margin-left: 2px;
  padding: 0px;
}

.tweet-cell {
    width: 60px;
    padding-right: 0px !important;
}


#bookmark-popover {
  left: 550px;
  max-width: 400px !important;
  min-width: 375px !important;
  z-index: 1030;
}

#bookmark-modal {
  z-index: 1500;
}

.modal-backdrop {
  z-index: 1050;
}

.modal {
  z-index: 1051;
}

.modal-body .sharing-header {
  text-align: left; 
  margin-left: 20px;
}

.group-members-popover {
  cursor: default;
}
.group-members-popover:hover {
  text-decoration: none; 
}